<h1>My alarms</h1>

<ul>
<% @alarms.each do |alarm| %>
    <li><%= alarm.time %> <%= alarm.track %> <%= alarm.device %> | <button class="btn btn-default"><%= link_to 'Edit', edit_alarm_path(alarm) %></button> | <button class="btn btn-warning"><%= link_to 'Delete', alarm, method: :delete, data: { confirm: 'Are you sure?' } %></button></li>
<% end %>
</ul>