<!DOCTYPE html>
<html>
  <head>
    <title>WakeUpConnect</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.typekit.net/sqo5pwt.css">
  </head>

  <body class='welcome'>
    <div class='welcome-content'>
        <span><img class="logo" src=<%= image_path("logo-wake-up.svg") %> alt="WakeUp Connect"></span>
        <p>Wake up Connect is a web application to use your favorites songs as your alarm on any Spotify Connect Device.</p>
        <%= link_to "Login with Spotify", "/auth/spotify", method: :post, class: "button button-login btn-white" %>
    </div>
    <div class='welcome-img'>
    </div>

  </body>
</html>
